.container-activities-cards {
  margin-top: 5em;
  padding: 3em;
  border-radius: 10px;
  text-decoration: none;
}

.activities {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.country-cardActivity {
  margin: 15px;
  width: 400px;
  align-items: center;
  height: auto;
  padding: 3em;
  border: 2px solid #a4acaf;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 12px 4px rgba(20, 42, 114, 0.1);
}

#nameActivity {
  font-size: 30px;
  color: #979797;
  text-transform: uppercase;
}

#seasonActivity {
  font-size: 17px;
  color: #000000;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .country-cardActivity {
    width: 150px;
    align-items: center;
    height: auto;
    padding: 3em;
    border: 2px solid #a4acaf;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 12px 4px rgba(20, 42, 114, 0.1);
  }
}
