.container-home {
  height: 100hv;
  width: 100hv;
  margin: 0;
  padding: 0;
  font-family: "Open Sauce One", sans-serif;
  background: #ffffff;
}

.container-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-button {
  color: #888;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #f0f1f2;
  border: none;
  border-radius: 7px 0px 0px 7px;
  margin-right: 5px;
  cursor: pointer;
}

.previous-button:hover {
  color: #888;
  background-color: #e4e5e6;
}

.previous-button:disabled {
  color: #c9c9c9;
  cursor: not-allowed;
  background-color: #f0f1f2;
}

.next-button {
  color: #888;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #f0f1f2;
  border: none;
  border-radius: 0px 7px 7px 0px;
  margin-left: 5px;
  cursor: pointer;
}

.next-button:hover {
  color: #888;
  background-color: #e4e5e6;
}

.next-button:disabled {
  color: #c9c9c9;
  cursor: not-allowed;
  background-color: #f0f1f2;
}

.current-page {
  font-size: 16px;
  color: #888;
  font-weight: 500;
  background-color: #f0f1f2;
  border: none;
  border-radius: 0px;
  padding: 7px 16px;
}

/* Estilos para el botón de "ir arriba" */
.button-scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2ab595;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.button-scroll-to-top.visible {
  opacity: 1;
  transform: translateY(0);
}

.button-scroll-to-top:hover {
  background-color: #2c9ab3;
}

/* Añadir regla para tamaños de pantalla pequeños (dispositivos móviles) */
@media screen and (max-width: 767px) {
  .button-scroll-to-top {
    width: 40px;
    height: 40px;
    font-size: 18px;
    bottom: 15px;
    right: 15px;
  }

  .button-scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2ab595;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .button-scroll-to-top.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
}
